<!doctype html>
<head>
	<title>John G. Fee Portrait Project</title>
	<script src="static/js/jquery.js"></script>
	<script src="static/js/editDisplay.js"></script>
	<link rel="stylesheet" type="text/css" href="static/css/andika.css">
	<link rel="stylesheet" type="text/css" href="static/css/canada1500.css">
	<style> 
		.marquee {
			position: absolute;
			height: 600px;
		}
	</style>
</head>
<body>
<div style="height: 50px;"></div>
<div style="margin: auto; width: 1000px;" align="center">
	<div style="width: 50%; float:left; overflow: hidden;">
		<div style="width: 100%; margin-bottom: 20px;" align = 'center'>
			<img src="static/images/youngfee.jpeg" width = 300px style="clear:both;"/>
		</div>
		<label for="youngFeeling" style="font-size: 18px; padding-right: 10px;">Describe this image: </label>
		<input type="text" id="youngFeeling" style="height: 35px; border-radius: 7px; font-size: 18px;"></input>
		<button type="button" onclick="sendYoungWord()" style="background-color: #4CAF50;color: #ffffff;border-color: #4CAF50;height: 40px;border-radius: 7px;vertical-align: top;font-size: 15px; font-family: inherit;">Submit</button>
	</div>
	<div style="width: 50%; margin-left: 15px; overflow: hidden;">
		<div style="width: 100%; margin-bottom: 20px;" align = 'center'>
			<img src="static/images/oldfee.jpeg" width = 300px  style="clear:both;"/>
		</div>
		<label for="oldFeeling" style="font-size: 18px; padding-right: 10px;">Describe this image: </label>
		<input type="text" id="oldFeeling" style="height: 35px; border-radius: 7px; font-size: 18px;"></input>
		<button type="button" onclick="sendOldWord()" style="background-color: #4CAF50;color: #ffffff;border-color: #4CAF50;height: 40px;border-radius: 7px;vertical-align: top;font-size: 15px; font-family: inherit;">Submit</button>
	</div>
</div>
<div style="width: 100%;" align="center">
	<label for="fs" style="font-size: 20px; padding-right: 10px;">Select a font: </label>

	<select id="fs" onchange="sendFont(this)" style="height: 35px; font-size: 20px; margin-left: 58px; margin-top: 20px; width: 196px;">
		<option value="Arial">Arial</option>
		<option value="Verdana">Verdana</option>
		<option value="Impact">Impact</option>
		<option value="andika_new_basicregular">Andika</option>
		<option value="Comic Sans MS">Comic Sans MS</option>
		<option value="canada_1500regular">Canada 1500</option>
	</select>	
</div>
<div style="width: 100%;margin-top: 20px;" align="center">
	<button id="muteButton" type="button" onclick="muteDisplay()" style="background-color: #4CAF50;color: #ffffff;border-color: #4CAF50;height: 40px;border-radius: 7px;vertical-align: top;font-size: 15px; font-family: inherit;">Toggle the Display</button>
</div>
