<!doctype html>
<head>
	<title>John G. Fee Portrait Project</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/editDisplay.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	<style> 
		.marquee {
			position: absolute;
			height: 600px;
		}
	</style>
</head>
<body>
<!--<div style="height: 50px;"></div>-->
<div style="margin: auto; width: 99%; text-align: justify; font-size: .8em;">
	<p>The typeface you are reading is also impacting your interpretation of what you see. For instance, many of the most commonly used typefaces are easily adaptable to record Western languages, but are less compatible for indigenous and other non-Latin alphabets. Further, popular typefaces rarely account for the differences in reader’s visual processing abilities. The selection of a typeface is itself a curatorial decision that impacts how readers relate to the content of the text.</p>

<p>Through this interface, we invite you to decide which typeface you see in this proposal. Choose from a range of fonts that include common designs as well as ones specifically developed to address the deficits found in the most widely used typefaces. Once you make your selection, you’ll find that all of the exhibition text will adapt to your choice.</p>

<p>By default, the exhibition text appears in the font Andika, which was designed in close collaboration with international literacy specialists taking into consideration easily confused characters.</p>
	
	<div style="width: 100%;" align="center">
		<label for="fs" style="font-size: 20px; padding-right: 10px;">Select a font: </label>
	
		<select id="fs" onchange="sendFont(this)" style="height: 35px; font-size: 20px; margin-left: 58px; margin-top: 20px; width: 196px;">
			<option value="Garamond" {% if font == "Garamond" %}selected{% endif %}>Garamond</option>
			<option value="Tahoma" {% if font == "Tahoma" %}selected{% endif %}>Tahoma</option>
			<option value="Times New Roman" {% if font == "Times New Roman" %}selected{% endif %}>Times New Roman</option>
			<option value="Arial" {% if font == "Arial" %}selected{% endif %}>Arial</option>
			<option value="chicagoflfregular" {% if font == "chicagoflfregular" %}selected{% endif %}>Chicago</option>
			<option value="fee_40regular" {% if font == "fee_40regular" %}selected{% endif %}>John G. Fee</option>
			<option value="andika_new_basicregular" {% if font == "andika_new_basicregular" %}selected{% endif %}>Andika</option>
			<option value="comic_sans_ms" {% if font == "comic_sans_ms" %}selected{% endif %}>Comic Sans MS</option>
			<option value="canada_1500regular" {% if font == "canada_1500regular" %}selected{% endif %}>Canada 1500</option>
			<option value="opendyslexicaltaregular" {% if font == "opendyslexicaltaregular" %}selected{% endif %}>Open Dyslexic</option>
			<option value="highway_gothicregular" {% if font == "highway_gothicregular" %}selected{% endif %}>Highway Gothic</option>
			<option value="Baskerville" {% if font == "Baskerville" %}selected{% endif %}>Baskerville</option>
			
		</select>	
	</div>
	<div style="width: 100%;margin-top: 20px;" align="center">
		<button id="muteButton"
						type="button"
						onclick="muteDisplay()"
						style="background-color: #4CAF50;
										color: #ffffff;
										border-color: #4CAF50;
										height: 40px;
										border-radius: 7px;
										vertical-align: top;
										font-size: 15px;
										font-family: inherit;">
			Show/Hide the Text
		</button>
	</div>
</div>
	
