<!doctype html>
<head>
	<title>John G. Fee</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
</head>
<body>
	<div style="margin: auto; width: 80%; height:100vh; padding: 10px; ">		
			<p>Portrait of John G. Fee (1816-1901)</p>
			<p><b><em>Ferdinand Graham Walker (1859-1927)</em></b></p>
			<p>1915</p>
			<p>Oil on canvas</p>
</p>
	</div>
</body>

<script>
		setTimeout(refreshFont, 1);
</script>