<!doctype html>
<head>
	<title>John G. Fee</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
</head>
<body>
	<div style="margin: auto; width: 80%; height:100vh; padding: 10px; font-size: 1.2em;">		
		<p>Viewers are often positioned to imagine that a portrait is not just a momentary snapshot of an individual, but also, a rendering that should capture their essence and legacy. As a result,  portraits have features that impact the ways audiences relate to them including the age of the sitter, the clothes they’re wearing, and the objects that surrounded them. </p>

		<p>Despite their marked differences, both of these portraits depict the same man - Berea College founder John G. Fee. The image on the right was painted during his lifetime while the portrait on the left was created 15 years after his death.</p>

		<p>When you look at these portraits, what are your impressions? What terms come to mind when you engage with the subjects? Share your responses to these two representations of Fee by using the nearby touch screen. Come back later to see the list grow as visitors contribute their thoughts.</p>
		<br />
		<p>Portrait of John G. Fee (1816-1901)<br />
		Ferdinand Graham Walker (1859-1927)<br />
		1916<br />
		Oil on canvas<br />
		<br />
		Portrait of John G. Fee (1816-1901)<br />
		Jane E. Bartlett (1839-1923)<br />
		1899<br />
		Oil on canvas</p>

	</div>
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
