<!doctype html>
<head>
	<title>Frost</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="width: 100%; margin-right: 10px; text-align: justify;">		
		<div>
			<p>Making a painting requires the use of many natural resources–flax for linen, oak for a frame, more flax for linseed oil, zinc, lead, ultramarine to make paints. When Ferdinand Graham Walker painted this portrait in his studio in Louisville, he mobilized a global supply network that linked it not only to a long history of portrait painting, but also to increasingly industrialized agriculture and long standing extraction processes. While at first glance we see a man in a position of power, the impression of his <b>authority is created from the same materials grown on plantations and in the Berea College Forest, extracted from mines Italy, Eastern Europe and China that were also integral to the composition of clothing and furniture at the time. (I think it should just be more clear how this last sentence follows from the previous ones).</b></p>
			<br />
			<p>Portrait of William Goodell Frost (1854-1938)</p>
			<p><b><em>Ferdinand Graham Walker (1859-1927)</em></b></p>
			<p>1915</p>
			<p>Oil on canvas</p>

		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
