<!doctype html>
<head>
	<title>Frost</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="margin: auto; width: 100%; height:100vh; padding: 10px; text-align: center">		
		<div>
			<p>Text goes here</p>
			<p><strong><em>Text goes here</em></strong></p>
			<p>Text goes here</p>
			<p>Text goes here</p>

		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
