<!doctype html>
<head>
	<title>Frost</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="width: 100%; margin-right: 10px; text-align: justify;">		
		<div>
			<p>Making a painting requires the use of many natural resources — flax for linen, wood for a frame, more flax for linseed oil, and minerals like zinc, lead, and ultramarine to make paints. When Ferdinand Graham Walker painted this portrait in his Louisville studio, he mobilized a global supply network that linked it not only to a long history of portrait painting, but also to an increasingly industrialized agricultural system and enduring extraction processes.</p>

<p>On the surface, this image of William Goodell Frost shows a man of authority. However, when we consider the materials in this painting, his status is further emphasized because of the portrait’s inherent connection to global extraction practices. And, while world-wide resource extraction was necessary for creating this painting, it is also important to remember that materials taken from sites like Italy, Eastern Europe, China, the American South, and even the Berea College Forest were integral to the composition of clothing and furniture produced during Frost’s time. </p>

<p>For a deeper analysis of the materials used to create the Frost portrait, look at the highlighted areas and the corresponding text. Collectively, these stories add meaning to Frost’s physical depiction as well as his social position. </p>

<p>Portrait of William Goodell Frost (1854-1938)<br />
Ferdinand Graham Walker (1859-1927)<br />
1915<br />
Oil on canvas</p>

<img src="/static/images/FrostinAuditorium.jpg" width="25%" />
<p>Photograph of Portrait of William G. Frost<br />
ca. 1963<br />
Art Department Archives</p>

		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
