<!doctype html>
<head>
	<title>Hutchins, Shin, Fairchild, Weatherford</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="width: 100%; margin-right: 10px; text-align: justify;">		
		<div>
			<p>When a portrait is hung on a wall, it implies that the subject possesses a level of ownership over the immediate space (or, perhaps, the entire building). As a result, it can be impossible to enter a room without encountering the figure and the legacy they represent. This proposal endows viewers with agency to determine how they coexist with a group of portraits and the space they occupy. </p>

			<p>Each of these four portrait is attached to a movable section of wall, which places control in the hands of viewers. For example, a visitor could choose to turn a wall section around, effectively hiding an image from the gallery. Alternately, the walls can be pushed into different configurations, offering visitors a chance to experiment with the arrangement of space. </p>

			<p><b>We invite you to use the metal bars to push and pull these panels to create your own viewing experience.</b> If you would like some help moving the sections, we are happy to assist. Just call the Art Office at 859-985-3658 and someone will come to help.</p>

			<br />
			<p>Portrait of Edward Henry Fairchild (1815–1889)</p>
			<p>Jane E. Bartlett (1839-1923)</p>
			<p>1899</p>
			<p>Oil on canvas</p>
			<br />
			<p>Portrait of William J. Hutchins (1871-1953)</p>
			<p>Richard E. Miller (1875-1943)</p>
			<p>1932</p>
			<p>Oil on canvas<p>
			<br />
			<p>Portrait of Willis D. Weatherford, Jr. (1916-1996)</p>
			<p>George Augusta (1922-2012)</p>
			<p>1975</p>
			<p>Oil on canvas</p>
			<br />
			<p>Portrait of Larry Shinn (b. 1942)</p>
			<p>John W. Kelley (b. 1952)</p>
			<p>2007</p>
			<p>Oil on canvas</p>

		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
