<!doctype html>
<head>
	<title>Hutchins, Shin, Fairchild, Weatherford</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="width: 100%; margin-right: 10px; text-align: justify;">		
		<div>
			<p>When a portrait is hung on a wall, it often implies a level of ownership over the immediate space and, sometimes, the entire building. It becomes impossible to enter the room and not encounter the person and the legacy they represent. This proposal endows viewers with agency to determine how they coexist with the portraits. By moving the sections of the wall graced by the portraits, some control is in the hands of the visitors. Turning the wall section around effectively removes the painting from the gallery. Alternatively, the four walls excerpts can be moved into the center of the gallery to create a smaller space in which to view the portraits. If you would like some help moving the sections, we are very happy to assist. Just call the Art Office and someone will come and help: 859-985-3658.</p>
			<br />
			<p>Portrait of Edward Henry Fairchild (1815–1889)</p>
			<p><b><em>Jane E. Bartlett (1839-1923)</em></b></p>
			<p>1899</p>
			<p>Oil on canvas</p>
			<br />
			<p>Portrait of William J. Hutchins (1871-1953)</p>
			<p><b><em>Richard E. Miller (1875-1943)</em></b></p>
			<p>1932</p>
			<p>Oil on canvas<p>
			<br />
			<p>Portrait of Willis D. Weatherford, Jr. (1916-1996)</p>
			<p><b><em>George Augusta (1922-2012)</em></b></p>
			<p>1975</p>
			<p>Oil on canvas</p>
			<br />
			<p>Portrait of Larry Shinn (b. 1942)</p>
			<p><em><b>John W. Kelley (b. 1952)</b></em></p>
			<p>2007</p>
			<p>Oil on canvas</p>

		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
