<!doctype html>
<head>
	<title>Hutchins</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="width: 100%; margin-right: 10px; text-align: justify;">		
		<div>
			<p>The legacy of Francis Hutchins is preserved in many ways on this campus, through the naming of the library as well as full name of the Center for International Education. While the library still bears his and his father’s names, the building itself has changed a great deal from its original design, both inside and out, since it was dedicated in 1966. This proposal displays a period room inspired by the library as it was in 1966. </p>

			<p>Period Rooms are installations within museums that aim to capture the material essence of an era, providing the viewer with a representation of what it might have looked like to inhabit a space during a particular time period. However, recent discussions have made apparent that period rooms are more a museum construction than historical representation, typically incorporating more objects than would actually exist within a living space, meshing together materials that might be from the same era, but would be unlikely to cohabit a room, among other discrepancies. Though both are presented in contexts that suggest historical accuracy, here we consider the implications of period rooms and portraits as institutional fabrications rather than fact.</p>
		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
