<!doctype html>
<head>
	<title>Hutchins</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="width: 100%; margin-right: 10px; text-align: justify;">		
		<div>
			<p>The legacy of Francis Hutchins has been preserved in many ways across the Berea College campus, including the naming of the library. Decades after it’s construction, the library still bears his (and his father’s) names. However, the building itself has changed a great deal since its dedication in 1966, both inside and out. </p>

			<p>This proposal displays a “period room” inspired by the library when it was first opened. Typically, “period rooms” are installations in museum spaces that aim to capture the material essence of an era. Displays are crafted using objects, furniture, and decor contemporary to the chosen period providing viewers with a re-creation of what life was like in that particular time and place. However, recent discussions have made it apparent that period rooms are more of a museum construction than a historical representation. For instance, these displays typically incorporate more objects than would have been customary in a given space and, often, they mesh together materials that might be from the same era, but would unlikely occupy a room together. </p>

<p>Portraits, too, can be thought of as “constructions” that are intended to convey certain messages or tones. Though the presentation of both the portrait and period room suggests historical accuracy, consider the ways in which they are both representation and a fabrication. By placing Hutchins’ own portrait in this library-inspired period room, we aim to weave together a visual narrative that interrogates these themes. Using the nearby tablet, explore the objects and features that have been included in this period room.</p>
		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
