<!doctype html>
<head>
	<title>Introduction</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	<style>
		body {
			width: 90%;
			margin: 40px;
			text-align: justify;
			font-size: .80em;
		}
	</style>
</head>
<body>
	<div>		
			<h1>Sharing Space with Authority: Proposals for Installing the Berea College Presidential Portraits</h1>
			<p>A seemingly simple task–reinstalling the Berea College presidential portraits–is in fact wrapped up in a complicated dialogue that isn’t just happening on our college campus, but in museums, academic buildings, and public spaces around the world. In these spaces, decisions concerning where and how to install artwork like portraits has brought forth significant questions. For instance, how can we design spaces so every person who encounters them feels welcome? How do we return spaces to those who had them taken from them? And, finally, how might a college's material history play a role?  </p>

<p>Internationally, monuments are being toppled, murals are being covered, and buildings are being renamed in response to these questions. Careful consideration of this dialogue has lead us to think critically about the reinstallation of our own presidential portraits. Being hung on the wall gives the portraits inherent power over that space. From dialogues globally to conversations with students, faculty and staff in our own community, it is apparent that this power dynamic is felt by many who share these spaces. </p>

<p>In 2017, the Doris Ulmann Galleries were asked to cohesively hang the college’s collection of Presidential portraits. At the time, only a selection of the portraits were displayed on campus while the rest were kept in storage. This request has since initiated a two-year long process that has involved working closely with Berea College students, faculty, staff, and alumni as well as colleagues and museum professionals from other institutions. Together, we have aimed to address the complexities of representation within institutional spaces and the ways in which installing the Berea College presidential portraits fit into that larger conversation. We asked, is there a way in which they can be reinstalled that actively works to decolonize the areas they occupy?</p>

<p>We see decolonization not as a metaphor, identity politic, or mere acknowledgment. Rather, we see it as a charge to give back what is stolen, surrender control in venues where it has been historically guarded, and expose (and address) coercive mechanisms that are complicit in exercising and normalizing power.</p>

<p>“Sharing Space with Authority: Proposals for Installing the Berea College Presidential Portraits” presents six different proposals for how our campus might install these images in a way that endows agency to those who co-habit the space. At the same time, we also aim to recognize ways in which institutions should use material culture to reconcile the overt and covert ways that a portrait’s occupation of a space is in itself contentious.</p>

<p>We invite feedback from the community submitted in the gallery space, through the mail, online, and though smaller conversation sessions. General inquiries and thoughts may be sent to sharingspace@berea.edu. We ask ourselves, how should these portraits be installed on this campus, how can we use them to acknowledge both the significant legacies of our own institution and those who remain unseen, and, more broadly, how might we share space with authority?</p>
		</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
