<!doctype html>
<head>
	<title>Introduction</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	<style>
		body {
{#		background: url("/static/image_rotator/1.jpg");	#}
		}
	</style>
</head>
<body>
	<div style="margin: auto; max-width: 80%; height:100vh; padding: 10px;text-align: center;">		
			<h1>Introduction</h1>
			<p><strong><em>Text goes here</em></strong></p>
			<p>Text goes here</p>
			<p>Text goes here</p>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>