<!doctype html>
<head>
	<title>Introduction</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	<style>
		body {
{#		background: url("/static/image_rotator/1.jpg");	#}
		}
	</style>
</head>
<body>
	<div style="margin: auto; max-width: 80%; height:100vh; padding: 10px;text-align: justify;">		
			<h1>Sharing Space with Authority: Proposals for Installing the Berea College Presidential Portraits</h1>

			<p>A seemingly simple task–reinstalling the Berea College presidential portraits–is in fact wrapped up in a complicated dialogue that does not just exist solely on college campuses, but in museums, academic buildings, and public spaces nationally and globally. How do we make every person who encounters a space feel welcome? How do we return spaces to those who had them taken from them?</p>

			<p>Internationally, monuments are being toppled, murals are being covered, and buildings are being renamed in response to these questions. Careful consideration of this dialogue has lead us to think critically about the reinstallation of our own presidential portraits. Being hung on the wall gives the portraits inherent power over that space. From dialogues globally to conversations with students, faculty and staff in our own community, it is apparent that this power dynamic creates an unwelcoming atmosphere for many who share these spaces. </p>

			<p>Some of the presidential portraits were removed from their spots flanking the stage of Phelps Stokes Chapel while others remained on display in the Hutchins Library. Is there a way in which they can be reinstalled that not only works to make the people who encounter a space feel more comfortable and welcome, but actually actively works to decolonize the areas they occupy? </p>

			<p>We see decolonization not as a metaphor, identity politic, or mere acknowledgment. Rather, we see it as a charge to give back what is stolen, surrender control in venues where it has been historically guarded, and expose (and address) coercive mechanisms that are complicit in exercising and normalizing power.</p>

			<p>These six proposals attempt to cede power from the portraits and institutions that house them and endow agency to the viewer, while recognizing ways institutions should use their material culture to try to reconcile overt and covert ways the portraits very occupation of the space they rest on is in itself contentious.</p>

			<p>We seek to engage the campus in this conversation through written and in-person dialogue, through responses and reflections sent to  <a href="mailto:sharingspacewithauthority@berea.edu">sharingspacewithauthority@berea.edu</a> and upcoming planned events. We ask ourselves, how should these portraits be installed on this campus, how can we use them to acknowledge both the significant legacies of our own institution and those who remain unseen, and, more broadly, how might we share space with authority?</p>	
		</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
