<!doctype html>
<head>
	<title>John F. Fee</title>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	<link rel="stylesheet" type="text/css" href="/static/css/period.css">
</head>
<body class="bg">
    <img src="/static/period_room/period.png" usemap="#periodmap" style="margin:auto;display:block;height:100vh" />
	<div id="dialog" title="Basic Dialog"></div>

	<map name="periodmap">
	{% for image in images %}
    <area shape="{{ image.shape }}" coords="{{ image.coords }}" href="javascript:open_dialog({{loop.index}},'{{image.file}}','{{image.title}}')" title="{{ image.title }}" alt="{{ image.title }}">
	{% endfor %}
	</map> 
	{% for image in images %}
	<div id="image-{{loop.index}}-details" style="display:none">{{ image.description|safe }}</div>
	{% endfor %}

	<script src="/static/js/jquery.js"></script>
  	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  	<script src="/static/js/jquery.rwdImageMaps.min.js"></script>
	<script src="/static/js/period.js"></script>
	<script type="text/javascript">
		function open_dialog(id, img_src, img_title) {
			var details = $("#image-" + id + "-details").html();
            var dlg = $("#dialog");

			dlg.dialog("option", "title", img_title);
			dlg.html(details);

		    var new_img = $("<img>").attr("src", "/static/period_room/" + img_src);
		    new_img.attr("style", "display:block; margin:auto; width:200px;");
		    dlg.prepend(new_img);
		    new_img.after($("<br>"));

		    dlg.dialog( "open" );
		}

      $(function() {
        $( "#dialog" ).dialog({
          autoOpen: false,
          show: {
            effect: "fade",
            duration: 500
          },
          hide: {
            effect: "fade",
            duration: 500
          },
          width: 600,
        });
      });

    $(document).ready(function(e) {
        $('img[usemap]').rwdImageMaps();
    });
        
	</script>
</body>
