<!doctype html>
<head>
	<title>Stephenson</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/imageRotatorText.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">

	<style> 
		body {
{#			 background-image: url("/static/image_rotator/1.jpg"); #}
		}
	</style>
</head>
<body>
	<div style="margin: auto; width: 100%; height:100vh; padding: 10px;">
		{% for item in allLines.items() %}
			<p class = "allText" id={{item[0].split(".")[0]}} style = "display: none">{{item[1]|safe}}</p>
		{% endfor %}

	</div>
</body>
