<!doctype html>
<head>
	<title>Stewart</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="width: 100%; margin-right: 10px; text-align: justify;">		
		<div>
			<p>While we may already assume that becoming the leader of an institution stems from personal effort, a portrait can even further reinforce the narrative that one’s position is obtained solely through their own drive and ability. While celebrating the subject, the practice of rendering portraits also overlooks the labor of other people and systems that contributed to (and sometimes were exploited by) the individual’s perceived success. Further, there is also hidden labor in producing, handling, hanging, and conserving the portrait of someone like a college president. </p>

			<p>In this proposal, we aim to highlight the invisible labor that is not depicted in this portrait of President William Stewart. In order to see the portrait, viewers must exert a sustained effort, either in the form of pedaling the nearby bike or by holding down the large blue button. During this time, we invite you to consider the unacknowledged people whose labor made it possible for figures like Stewart to rise to leadership in academic institutions. </p>

<p>Portrait of William B. Stewart (1835-1912)<br />
Artist unknown<br />
No date<br />
Oil on panel</p>
		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
