<!doctype html>
<head>
	<title>Stewart</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="margin: auto; width: 1000px; height:100vh; padding: 10px;" >		
		<div>
			<p>While we may assume that becoming the leader of an institution requires much individual effort, a portrait can reinforce a narrative that the accomplishment was the result of singular effort and persistence. This can simultaneously overlook the labor of other people and systems that contributed to and allowed for that individual's perceived success. There is also hidden labor in producing, handling, and hanging the portrait of a president. As you exert effort to pedal the bike or hold down the button to provide a sustained viewing of the portrait, you may consider the unacknowledged people whose labor made it possible for people, like President William Stewart, to rise to become leaders of academic institutions.</p>
			<br /><br />
			<p>Portrait of William B. Stewart (1835-1912)</p>
			<p><em><b>Artist unknown</b></em></p>
			<p>No date</p>
			<p>Oil on panel</p>
		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
