<!doctype html>
<head>
	<title>Stephenson</title>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="width: 100%; margin-right: 10px; text-align: justify;">		
		<div>
			<p>
			President Stephenson had a great affinity for the Henry Ossawa Tanner painting depicted to his right in his portrait and displayed next to it here. He and his wife Jane chose to hang it over the mantel in the President’s Home from a number of pieces offered by the Art Department when they arrived in Berea in 1984. Thanks to a chance encounter in a New York City cab with Rae Alexander Minter, Tanner’s grandniece and a scholar of his work, he learned of the importance of the painting and the painter to the history of art. They also learned that the painting did not depict the Cumberland Foothills as they had thought, but instead was a view of a mountain in North Carolina.</p>

			<p>We are standing on land once occupied by and taken from the Shawnee and Tsalaguwetiyi. Acknowledging that is only a beginning. With this proposal we are adding the Cherokee location name to the title of the Tanner painting in President Stephenson's portrait, and, as a result, have begun a process to add the indigenous place name to all of the landscapes of named places in the College Art Collection. To the right of the Tanner are a selection of landscapes from the collection whose names have been temporarily modified to acknowledge whose lands they represent, but will eventually include the appropriate indigenous moniker in the title. Now whenever these pieces are exhibited in our galleries, in other museums on loan, or cited in scholarship, the indigenous place name will be included in their titles. </p>
		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
