<!doctype html>
<head>
	<title>Stephenson</title>
	<meta charset="ISO-8859-1">
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/getFonts.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/fonts.css">
	
</head>
<body>
	<div style="width: 100%; margin-right: 10px; text-align: justify;">		
		<div>
			<p>President Stephenson had a great affinity for the Henry Ossawa Tanner painting presented here, so much so, in fact, that he chose to have its image incorporated into the background of his own presidential portrait.</p>

			<p>When President Stephenson and his wife Jane arrived at Berea College in 1984, they selected this painting from a number of pieces offered by the Art Department to hang over the mantel in the President’s Home. Thanks to a chance encounter in a New York City cab with Rae Alexander Minter — Tanner’s grandniece and a scholar of his work — he learned more about the importance of the painting and the painter to the history of art. Stephenson also learned that the painting did not depict the Cumberland Foothills as was originally thought, but instead, depicted a view of a mountain in North Carolina. </p>

			<p>Learning about and acknowledging the history of a painting like this Tanner is not unlike recognizing and appreciating the history of the place it captures. We are standing on land once occupied by and taken from the Shawnee and Tsalaguwetiyi and the acknowledgement of this fact is only the beginning. With this proposal, we have committed to adding the Cherokee name of the Tanner painting’s location to the work’s permanent title. Even further, we have begun the process of adding the indigenous place names to all of the landscapes featuring named places that are currently held in the Berea College Art Collection. </p>

			<p>A selection of landscapes from the collection can be seen rotating on the screen to the right of the Tanner painting. The titles of these works have been temporarily modified to acknowledge whose land is represented in the images. Moving forward, the titles will eventually present the location names using the appropriate indigenous language(s). As a result of this action, whenever these pieces are exhibited in our galleries, loaned to other museums, or cited in scholarship, the indigenous place name will be included in all textual references to the artwork.</p>

			<p>Portrait of John B. Stephenson (1937-1994)<br />
			Daniel Adel (b. 1962)<br />
			1994<br />
			Oil on canvas</p>

			<p>Uni-sv tsv-gisv <!--&#x13A4;&#x13c2;&#xABA2;&#x13E8;&#x13A9;&#xABA2;--> <span><img style="width: 5%" src="/static/images/cherokee.png" /></span> (Mountain Landscape, Highlands, NC)</p>
			
			<p>Henry Ossawa Tanner<br />
			1890<br />
			Oil on canvas<br />
			Gift of Mrs. Guy Ward Mallon, 1934, 140.O.95</p>

		</div>
	</div>		
</body>

<script>
		setTimeout(refreshFont, 1);
</script>
